{% extends 'base.html' %}

{% block 'conteudo' %}
<div class="container">    
    <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">{{usuario.username}}</div>
          <div class="panel-body">
            <li>{{usuario.first_name}}</li>
            <li>{{usuario.last_name}}</li>
            <li>{{usuario.email}}</li>
          </div>
          <div class="panel-footer">    
            <a href="#">Editar</a>
            <a href="#">Remover</a>
          </div>
        </div>
      </div>
    </div>
  </div><br>
{% endblock 'conteudo' %}