{% extends 'base.html' %}

{% block 'conteudo' %}

    <div class="container">
        <div class="row">
            {% for atendente in object_list %}
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ atendente.nome }}</div>
                    <div class="panel-body">{{ atendente.email }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href={% url "cadastrar_atendente"%} class="btn btn-primary">Cadastrar Atendente</a>
    </div><br>

{% endblock 'conteudo' %}
