<!DOCTYPE html>
{% load bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Cadastrar">
    </form>

</body>
</html>