{% extends 'base.html' %}

{% block 'conteudo' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ cliente.nome }}</div>
                    <div class="panel-body">
                        <li>{{ cliente.profissao }}</li>
                        <li>{{ cliente.email }}</li>
                        <li>{{ cliente.data_nasc }}</li>
                    </div>
                    <div class="panel-footer">
                        <a href={% url "editar_cliente" pk=cliente.id %}>Editar</a>
                        <a href={% url "remover_cliente" pk=cliente.id %}>Remover</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>

{% endblock 'conteudo' %}